<div
  class="max-w-2xl mx-auto bg-white bg-opacity-[0.02] px-4 py-2 h-screen flex flex-col gap-2"
>
  <h1 class="text-neutral-200 self-center font-medium tracking-tight text-4xl">
    Actix + Angular Chat App
  </h1>
  <h2 class="text-neutral-400 self-center">
    Developed by
    <a href="https://github.com/that-ambuj" class="underline text-neutral-200"
      >Ambuj Singh</a
    >
  </h2>
  <chat-app-chat-window class="h-full"></chat-app-chat-window>
  <chat-app-chat-input class="w-full"></chat-app-chat-input>
</div>
